VUE_APP_FIREBASE_API_KEY="Firebase API Key"
VUE_APP_FIREBASE_AUTH_DOMAIN="Firebase-Auth-Domain"
VUE_APP_FIREBASE_PROJECT_ID="Firebase-Project-ID"
VUE_APP_FIREBASE_STORAGE_BUCKET="Firebase-Storage-Bucket"
VUE_APP_FIREBASE_MESSAGING_SENDER_ID="Firebase-messaging-Sender-ID"
VUE_APP_FIREBASE_APP_ID="Firebase-App-ID"
VITE_MAPBOX_PK_TOKEN="Mapbox Public Token"
VITE_MAPBOX_SK_TOKEN="Mapbox Private Token"
